/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track { 
    background: #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bc8ac2;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b975c1;
}
